[Unit]
Description=DBmaster

[Service]
Type=forking
PIDFile=/var/run/dbmaster/dbmaster.pid
ExecStart=@APP_EXECDIR@/dbmaster
ExecReload=/bin/kill -HUP $MAINPID


[Install]
WantedBy=multi-user.target

