[Unit]
Description=DBmaster

[Service]
Type=forking
PIDFile=/var/run/pgdumper/dbmaster.pid
ExecStart=/usr/local/sbin/dbmaster
ExecReload=/bin/kill -HUP $MAINPID


[Install]
WantedBy=multi-user.target

