[Unit]
Description=PGmaster

[Service]
Type=forking
PIDFile=/var/run/pgdumper/pgmaster.pid
ExecStart=/usr/local/sbin/pgmaster
ExecReload=/bin/kill -HUP $MAINPID


[Install]
WantedBy=multi-user.target

